
/* sidebar */
.d-flex > div.d-flex.flex-column.flex-shrink-0.p-3.text-bg-dark {
  position: fixed;
  width: 280px;
  height: 100vh;
  margin-left: -10px;

}

.insights-link {
  font-size: 24px !important;
  font-weight: bold; 
  padding: 10px 0; 
  margin-left: 70px; 
  display: inline-block; 
  line-height: 1.5; 
 
}

.project-form {
  margin-bottom: 3rem;
  margin-top: 1rem;

}

.project-form .form-select {
  width: 200px;
  height: 35px;
  margin-left: 30px;
}

.project-form .btn {
  margin-left: 65px; /* Align button to the right */
}

.nav-item {
  margin-left: -15px;
}

/* Style for the Admin Editor button */
.nav-item-admin .nav-link {
  background-color: #151a47 !important;
  color: #ffffff !important; 
  border-radius: 5px;
  padding: 10px 15px; 
  text-align:left;
   
  transition: background-color 0.3s, color 0.3s;
}

/* Hover state for the Admin Editor button */
.nav-item-admin .nav-link:hover {
  background-color: #151a47 !important; 
  color: #ffffff !important; 
}

/* Active state */
.nav-item-admin .nav-link.active {
  background-color: #6e75c3 !important; 
  color: #ffffff !important; 
}


#main-content {
  margin-left: 230px; /* Adjust this value to match the sidebar width */
  padding: 20px; /* Add padding for content */
  background-color: #f8f9fa; /* Background color */
  min-height: 100vh; /* Minimum height to fill viewport */
}