{% extends 'base.html' %}
{% load static %}
<!-- This is the Measurement Page of the signed-in account,
If this is Admin then it will show these options: EDIT measures metrics,EDIT grapgh metrics,
Compute developer expertise score,Compute developer average bug fixing time,Compute priority weighted fixed issues

If this is User then it will show these options: 
Compute developer expertise score,Compute developer average bug fixing time,Compute priority weighted fixed issues

This page also includes a button to return to the signed-in account MainPage.
-->
{% block content %}
<header>
    <div style="position: absolute; left: 5px;">
    Welcome, {{ user.username }}
</div>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- activate views by path name -->            
        <h1><a href="{% url "logout_page_view_path" %}"> To Log Out</a></h1>
        
        <!--ADMIN buttons-->
        {% if user.is_staff == True %}
            <h1><a href="{% url "admin_MainPage_view_path" %}"> TO Admin MainPage</a></h1>
            <h1><a href="">EDIT measures metrics</a></h1>
            <h1><a href="">EDIT grapgh metrics</a></h1>

        <!--USER buttons-->
        {% else %}
            <h1><a href="{% url "user_MainPage_view_path" %}"> TO User MainPage</a></h1>
        {% endif %}

        <!--ADMIN and USER buttons-->
        <!--Measurement Options-->
        <h3>--------------Developer Expertise Score(DES) Section-----------------</h3>
        <button type="submit" name="compute_DES">Compute developer expertise score(DES)</button>
       <!--recommended to add calculate Info when mouse hover-->
        <h1>Priority weighted fixed issues result: </h1>
        <h1>Versatility and breadth index result: </h1>
        <h1>Developer average bug fixing time result: </h1>

        <h1>DES result : </h1>
        <h3>--------------Another measurement Section-----------------</h3>

        <h3>--------------Compute All Section-----------------</h3>
        <!-- Include Selected_Projects() class instance -->
        <input type="hidden" name="selected_Projects" value="{{ data.selected_Projects_instance }}">
        <!-- Add a button to submit the form with selected projects -->
        <button type="submit">Compute All Predicts</button>
    </form>
</header>
<h1>measurement results content that got computed according to the selected projects data</h1>
<body>
    <!-- Add the measurement results here -->
</body>  
{% endblock %}