{% extends 'base.html' %}
{% load static %}
    <!-- This is the Measurement Page of the signed in account,
        If this is Admin then it will show these options: show measures,show graph,
                                        EDIT measures metrics,EDIT grapgh metrics.
        If this is User then it will show these options: show measures,show graph.
        The chosen option will be displayed here in this page.
        
        This page also include return to singed in account MainPage.
    -->
{% block title %}
    inherted from base.html
{% endblock %}

{% block content %}
    <header>              <!--I should add IF statments here ???????????-->   
        
        <h1><a href="{% url "admin_MainPage_view_path" %}}"> TO Admin MainPage</a></h1>
        <h1><a href="{% url "user_MainPage_view_path" %}}"> TO User MainPage</a></h1>

        <!--ADMIN and USER buttons-->
        <h1><a href="">show measures</a></h1>
        <h1><a href="">show graph</a></h1>

        <!--ADMIN buttons-->
        <h1><a href="">EDIT measures metrics </a></h1>
        <h1><a href="">EDIT grapgh metrics </a></h1>
    </header>
    <h1>some measures and graphs content measured according to the projects saved data</h1>
{% endblock %}