{% extends 'base.html' %}
{% load static %}
<!-- This is the Main Page of the signed in account,
    If this is Admin then it will show these options:view data, add data,
                                                delete data, calculate data.
    If this is User then it will show these options:view data,calculate data.
    
    If "calculate data" option got chosen then this page will transition to
     "admin_OR_user_measurementPage".
-->
{% block content %}
    {% block title %}
        Welcome, {{ user.username }}
    {% endblock %}
    <header>       
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- activate views by path name -->            
            <h1><a href="{% url "logout_page_view_path" %}"> To Log Out</a></h1>  
             <!--ADMIN and USER header buttons-->
            <!--should display a choose field with "all projects names List",
            after choosing projects from the List,the "selected projects" names displayed -->
            
            <!--ADMIN header buttons-->
            {% if user.is_staff == True %}
                <!-- Uploading project data file --> 
                <input type="file" name="uploaded_data_file" />
                <button>Upload!</button>
            {% endif %}
            
            <!--   after selecting a projects is done, this section displayed    -->
            {% if selected %}   <!--!!!!!!!!!!!!!!!!selected is NOT real VALUE!!!!!!!!!!!!-->
                <!--ADMIN header buttons-->
                {% if user.is_staff == True %}
                    <h1><a href="{% url "admin_measurement_pageview_path" %}"> Compute predicts according to these projects Data</a></h1>
                <!--USER header buttons-->
                {% else %}
                    <h1><a href="{% url "user_measurement_pageview_path" %}"> Compute predicts according to these projects Data</a></h1>   
                {% endif %}
            {% endif %}
        
        </form>
    </header>
    <h1>some historic data that used to measure project predicting</h1>
    <body>
        <!--ADMIN body buttons-->
        {% if user.is_staff == True %}
            <h1><a href="">Edit project data</a></h1>
            <h1><a href="">Delete project data</a></h1>
        {% endif %}
        <!--should display a table that shows the selected projects data
        that got chosen in the choose field in the header section,
        with a switch button to switch betweeen the selected projects
        -->
        
        
    </body>  
{% endblock %}
