{% extends 'base.html' %}
{% load static %}
    <!-- This is the Measurement Page of the signed in account,
        If this is Admin then it will show these options: show measures,show graph,
                                        EDIT measures metrics,EDIT grapgh metrics.
        If this is User then it will show these options: show measures,show graph.
        The chosen option will be displayed here in this page.
        
        This page also include return to singed in account MainPage.
    -->
{% block title %}
    inherted from base.html --- {{ data.display }}
    Welcome, {{ user.username }}
{% endblock %}

{% block content %}
    <header>              <!--I should add IF statments here !!!!!!!!!!!!!!!-->   
        <form action="" method="POST">
            {% csrf_token %}
            <!-- activate views by path name -->            
            <h1><a href="{% url "logout_gape_view_path" %}}"> To Log Out</a></h1>
            
            <!--ADMIN buttons-->
            {% if user_object.is_staff == True %}
                <h1><a href="{% url "admin_MainPage_view_path" %}}"> TO Admin MainPage</a></h1>
                <h1><a href="">EDIT measures metrics </a></h1>
                <h1><a href="">EDIT grapgh metrics </a></h1>
            {% endif %}
            
            <!--USER buttons-->
            {% else %}
                <h1><a href="{% url "user_MainPage_view_path" %}}"> TO User MainPage</a></h1>
            {% endif %}

            <!--ADMIN and USER buttons-->
            <h1><a href="">show measures</a></h1>
            <h1><a href="">show graph</a></h1>

        </form>
    </header>
    <h1>some measures and graphs content measured according to the projects saved data</h1>
{% endblock %}