{% extends 'base.html' %}
{% load static %}
    <!-- This page include the "registration" AND "Log in" pages content
        handling it with IF statments,
        This page also handle the transition to  "admin_OR_user_MainPage",
        It Also includes some homePage contens(like about The developers of the site"Us").
    -->
{% block title %}
    inherted from base.html
{% endblock %}

{% block content %}
    <section>
        <header>            
            <img src="{% static "Predicting_app/images/agile_methodology_cyrcle.jpg"%}" alt="AGILE Project Management Pridictor"  />
            <h2>AGILE Project Management Pridictor</h2>
            
            <!-- activate views by path name -->
            <h1><a href="{% url "register_pageview_path" %}}"> To sign up</a></h1>
            <h1><a href="{% url "loging_pageview_path" %}}"> To Log in</a></h1>
        </header>
        <p>
            Hi, We are Developing a website tailored to analyze and visualize a company's data structures,
             aimed at uncovering trends and critical insights pivotal for effective management of development processes and teams.
              This platform implement AGILE methodologies to empower stakeholders to make informed decisions, optimize workflows, 
              and enhance project outcomes.
        </p>
    </section>
{% endblock %}
