{% extends 'base.html' %}
{% load static %}
    <!-- This page include the "registration" AND "Log in" pages content
        handling it with IF statments,
        This page also handle the transition to  "admin_OR_user_MainPage",
        It Also includes some homePage contens(like about The developers of the site"Us").
    -->
{% block content %}    
    <section>
        <header>
            <link href="{% static 'Predicting_app/css/loginStyle.css' %}" rel="stylesheet">
            <style>body{
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh;
                background: url("{% static 'Predicting_app/images/background.jpg' %}") no-repeat;
                background-size: cover;
                background-position: center;
            }</style>

            {% if user.is_authenticated %}
            <span style="color: antiquewhite;" class="logged-in-title">Logged-In account : {{ user.username }}</span>
            {% else %}
            <span style="color: antiquewhite;" class="logged-out-title">There is no Logged-In account.</span>
            {% endif %}
            <div class="wrapper">
            <form action="" method="POST">
                {% csrf_token %}       
                {% if user.is_authenticated %}
                    <!-- activate views by path name -->            
                    <h1><a href="{% url "logout_page_view_path" %}"> Log Out</a></h1>
                    {% if user.is_staff == True %}
                        <h1><a href="{% url "admin_MainPage_view_path" %}"> Admin MainPage</a></h1>
                    {% else %}
                        <h1><a href="{% url "Dashboard_path" %}"> User MainPage</a></h1>
                    {% endif %}

                {% else %}
                <h1><a href="{% url "loging_page_view_path" %} " style="text-decoration: none; color: antiquewhite;"> Log in</a></h1>
                <h1><a href="{% url "signup_page_view_path" %} " style="text-decoration: none; color: antiquewhite;"> sign up</a></h1>
			    {% endif %}
            </form>
            </div>
        </header>
        <p>
            <div style="position: absolute; bottom: 5px; left: 5px; color: antiquewhite;">
                Hi, We are Developing a website tailored to analyze and visualize a company's data structures,
                aimed at uncovering trends and critical insights pivotal for effective management of development processes and teams.
                This platform implement AGILE methodologies to empower stakeholders to make informed decisions, optimize workflows, 
                and enhance project outcomes.
            </div>
        </p>
    </section>


    <!--                                Log-In section                              -->
    {% if data.display == "Log-In Page" %}
    <section>
        <header>
            <form action="" method="POST">                
                {% csrf_token %} 
                {% for field in form %}
                    <div class="form-control {% if field.errors %} errors {% endif %}">
                        {{ field.label_tag }}
                        {% if field.field.widget.input_type == 'password' %}
                            <div class="password-toggle">
                                {{ field }}
                                <span class="password-toggle-icon" onclick="togglePasswordVisibility()"></span>
                            </div>
                        {% else %}
                            <div>
                                {{ field }}
                            </div>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            <button type="submit"> Login </button>
            </form>
        </header>
        <script>
            function togglePasswordVisibility() {
                var passwordInput = document.getElementById("id_password");
                var icon = document.querySelector(".password-toggle-icon");
                
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    icon.classList.remove("password-toggle-icon-visible");
                } else {
                    passwordInput.type = "password";
                    icon.classList.add("password-toggle-icon-visible");
                }
            }
        </script>
    </section>
    {% endif %}

    <!--                                Sign-Up section                              -->
    {% if data.display == "Sign-up Page" %}
    <section>
        <header>
            <form action="" method="POST">                
                {% csrf_token %} 
                {% for field in form %}
                    <div class="form-control {% if field.errors %} errors {% endif %}">
                    {{ field.label_tag }}
                    {% if field.field.widget.input_type == 'password' %}
                        <div class="password-toggle">
                            {{ field }}
                            <span class="password-toggle-icon" onclick="togglePasswordVisibility()"></span>
                        </div>
                    {% else %}
                        <div>
                            {{ field }}
                        </div>
                    {% endif %}
                    {{ field.errors }}
                    </div>
                {% endfor %}
            <button type="submit"> Sign-Up </button>
            </form>
        </header>
        <script>
            function togglePasswordVisibility() {
                var passwordInput = document.getElementById("id_password");
                var icon = document.querySelector(".password-toggle-icon");
                
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    icon.classList.remove("password-toggle-icon-visible");
                } else {
                    passwordInput.type = "password";
                    icon.classList.add("password-toggle-icon-visible");
                }
            }
        </script>
    </section>
    {% endif %}

    
{% endblock %}
