<style>
    /* Styles for the tables */
    .result-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    .result-table th,
    .result-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    .result-table th {
      background-color: #f2f2f2;
    }
  </style>
  
  <h2>Priority Weighted Fixed Issues:</h2>
  <table class="result-table">
    <tr>
      <th>Developer Name</th>
      <th>Priority</th>
      <th>Weight</th>
    </tr>
    {% for developer_name, priorities in data.result1.items %}
      <tr>
        <td rowspan="{{ priorities|length }}">{{ developer_name }}</td>
        {% for priority, weight in priorities.items %}
        {% if forloop.first %}
        <td>{{ priority }}</td>
        <td>{{ weight }}</td>
        </tr>
        {% else %}
        <tr>
          <td>{{ priority }}</td>
          <td>{{ weight }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    {% endfor %}
  </table>
  
  <h2>Versatility and Breadth Index: <span class="versatility-index">{{ data.result2 }}</span></h2>
  
  <h2>Developer Average Bug Fixing Time:</h2>
  <table class="result-table">
    <tr>
      <th>Developer Name</th>
      <th>Average Time</th>
    </tr>
    {% for developer_name, avg_time in data.result3.items %}
    <tr>
      <td>{{ developer_name }}</td>
      <td>{{ avg_time }}</td>
    </tr>
    {% endfor %}
  </table>
  