{% load static %}


<head>
    <link href="{% static 'Predicting_app/css/overviewCSS.css' %}" rel="stylesheet">
    <!-- jQuery should be loaded before DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>


{% if data.dashboard_project %}

<div class="container-fluid">
    <div class="row">
        <!-- First Row: Existing Cards -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header" style="font-size: 1rem; color: darkblue; font-weight: bold;">
                    Project Database
                </div>
                <div class="card-body" style="max-height: 400px; overflow-y: auto; max-width: 535px;">
                    <table id="database" class="selected-project-table"  style="min-width: 400px; font-size: 10px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                {% for field, value in data.dashboard_project.excel_rows.first.json_data.items %}
                                    <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for excel_row_data in data.dashboard_project.excel_rows.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    {% for field, value  in excel_row_data.json_data.items %} 
                                        <td>{{ value }}</td>
                                    {% endfor %}                
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                {% for field, value in data.dashboard_project.excel_rows.first.json_data.items %}
                                    <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Bar chart-->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body" style="height: 400px;">
                    <button onclick="change_graph_type()"> Change Graph type</button>
                    <figure class="highcharts-figure">
                        <div id="container" style="width: 100%; height: 400px;"></div>
                        <table id="datatable" style="display: none;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Open</th>
                                    <th>Closed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for issue in data.issue_data %}
                                    <tr>
                                        <td>{{ issue.type }}</td>
                                        <td>{{ issue.open }}</td>
                                        <td>{{ issue.closed }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </figure>
                    <script src="{% static 'Predicting_app/js/overviewJS.js' %}"></script> 
                </div>
            </div>
        </div>

        <!-- Second Row: New Cards -->
        <div class="col-md-6">
            <div class="card mb-4">
              
                <div class="card-body" style="max-height: 400px; overflow-y: auto; max-width: 535px;">
                    
                    <article class="Des_list">
                        <header>
                          <h1 class="Des_list_title"><span class="Des_list__title--top">DES</span><span class="Des_list_title--bottom">List</span></h1>
                        </header>
                        
                        <main class="Des_list_profiles">
                            <ol class="Des_list__ol">
                                {% for developer, score in data.des_scores %}
                                    <li class="Des_list__item">
                                        <span class="Des_list__index">{{ forloop.counter }}</span>
                                        <span class="developer_name">{{ developer }}</span>
                                        <span class="score_value">{{ score }}</span>
                                    </li>
                                {% endfor %}
                            </ol>
                        </main>
                      </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header" style="font-size: 1rem; color: darkblue; font-weight: bold;">
                    New Card 2
                </div>
                <div class="card-body">
                    <!-- Add content for the new card 2 -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
