<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block css_files %}{% endblock css_files %}
</head>
<body>
    <header>
        <!-- activate view by path name -->
        <h1><a href="{% url "home_pageview_path" %}}"> TO HomePage</a></h1>
        
        <!-- i should add if statment later,
             for choosing if it admin or user account to show it button-->
        <h1><a href="{% url "home_pageview_path" %}}"> TO Admin HomePage</a></h1>

        <h1><a href="{% url "home_pageview_path" %}}"> TO User HomePage</a></h1>
    </header>
    <!-- HTML content here -->
    {% block content %}
    <!--content of inherted templates-->
    {% endblock  %}
</body>
</html>
