<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This page is the base page which all the templates inhert it,
        it handle the css styles of pages,
        it also include a button to return back to the homepage.
    -->    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          {{ data.display }}
        {% endblock title %}
    </title>
    {% block css_files %}
     
    {% endblock css_files %}
</head>
<body>
    <header>
        <div style="position: absolute; top: 5px; left: 0; ">
            <h1> 
              <a href="{% url "home_page_view_path" %} " style="text-decoration: none; color: antiquewhite;">AgileProject Management Predictor</a>
          </h1> 
        </div>
    </header>
    <!-- HTML content here -->
    {% block content %}
    <!--content of inherted templates-->
    {% endblock  %}
</body>
</html>
