{% extends "base.html" %} <!-- Extends the base template -->

{% load static %} <!-- Load static files -->

{% block content %} <!-- Define the content block -->

<div class="d-flex">
    {% include "sidebar.html" %} <!-- Include the sidebar -->

    <div class="w-100"> 
        <!-- Main Content -->
        <!-- Include header.html if needed -->
        <div class="my-3 mx-3"> 
            <div>
                {% if data.chosen_project %}
                    <!-- Display selected project name -->
                    <h2 id="project-name">Selected Project: {{ data.selected_main_project.project_name }}</h2>
                    <hr>
                    <div id="overview-content"></div>
                    <div id="measurements-content"></div>
                {% else %}
                    <!-- Display message if no project selected -->
                    <h2>No project selected</h2>
                    <hr>
                {% endif %}
            </div>
 
            <!-- Include JavaScript file -->
            <script src="{% static 'Predicting_app/js/project_details.js' %}"></script>            
        </div>
    </div>      
</div>

{% endblock content %} <!-- End of content block -->
